@font-face {
    font-family: 'Cursive';
    src: url(./fonts/leckerlione-regular.ttf);
}

body {
    background-color: plum;
    display: grid;
    grid-template-columns: 1fr;
    margin: 0 auto;
    align-items: center;
    background-image: url(./table.jpg);
}


h1 {
    color: hotpink;
    text-shadow: 2px 8px 8px rgb(197, 4, 100);
    -webkit-text-stroke-width: 3px;
    letter-spacing: 4.5px;
    -webkit-text-stroke-color: rgb(233, 37, 135);
    text-align: center;
    font-family: 'Cursive';
    font-size: 6em;
}
 p {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: black;
    font-size: 40px;
    text-shadow: 2px 5px 8px rgb(255, 107, 168);
    text-align: center;
    
}

